.mono-ui__input--container {
  display: flex;
  flex-direction: column;
  gap: var(--mono-ui--spacing-xs);
}

.mono-ui__input {
  border-radius: var(--mono-ui--radius-sm);

  border: 1px solid var(--mono-ui--color-500);
  padding: var(--mono-ui--spacing-xs) var(--mono-ui--spacing-sm);

  transition:
    color 0.15ms ease-in-out,
    background-color 100ms ease-in-out,
    border-color 100ms ease-in-out;
}

.mono-ui__input--readOnly,
.mono-ui__input--disabled {
  cursor: not-allowed;
  background-color: var(--mono-ui--color-100);
}
