.mono-ui-input {
  font-size: inherit;
  border-radius: var(--mono-ui--radius-md);

  border: 2px solid;
  padding: var(--mono-ui--spacing-xs) var(--mono-ui--spacing-sm);

  transition: border-color 100ms ease-in-out;

  &:not(.mono-ui-input--disabled, .mono-ui-input--readOnly) {
    border-color: var(--mono-ui--color-300);
  }
  &:not(.mono-ui-input--disabled, .mono-ui-input--readOnly):hover {
    border-color: var(--mono-ui--color-500);
  }
}

.mono-ui-input--disabled {
  cursor: not-allowed;
  border-color: var(--mono-ui--color-200);
}

.mono-ui-input--readOnly {
  border-color: var(--mono-ui--color-200);
  background-color: var(--mono-ui--color-100);
}
