.mono-ui-badge {
  line-height: 1;

  border-radius: var(--mono-ui--radius-rounded);

  &:not(.mono-ui-badge--tiny) {
    font-size: var(--mono-ui--font-size-base);
    padding: var(--mono-ui--spacing-sm) var(--mono-ui--spacing-md);
  }
}

.mono-ui-badge--tiny {
  font-size: var(--mono-ui--font-size-small);
  padding: var(--mono-ui--spacing-xs) var(--mono-ui--spacing-sm);
}

.mono-ui-badge--default {
  color: var(--mono-ui--color-white);
  border: 1px solid var(--mono-ui--color-500);
  background-color: var(--mono-ui--color-500);
}

.mono-ui-badge--outline {
  color: var(--mono-ui--color-500);
  border: 1px solid var(--mono-ui--color-500);
  background-color: var(--mono-ui--color-white);
}

.mono-ui-badge--light {
  color: var(--mono-ui--color-500);
  border: 1px solid var(--mono-ui--color-200);
  background-color: var(--mono-ui--color-200);
}
