.mono-ui-button {
  font-size: 1rem;
  display: inline-block;
  border-radius: var(--mono-ui--radius-sm);

  padding: var(--mono-ui--spacing-xs) var(--mono-ui--spacing-md);

  transition:
    color 100ms ease-in-out,
    background-color 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

.mono-ui-button--disabled {
  opacity: 0.8;

  &:not(.mono-ui-button--loading) {
    cursor: not-allowed;
  }
}

.mono-ui-button--loading {
  cursor: progress;
  opacity: 0.8;
}

.mono-ui-button--default {
  color: var(--mono-ui--color-white);
  background-color: var(--mono-ui--color-500);
  border: 1px solid var(--mono-ui--color-500);

  &:not(.mono-ui-button--disabled):hover {
    border-color: var(--mono-ui--color-400);
    background-color: var(--mono-ui--color-400);
  }
  &:not(.mono-ui-button--disabled):active {
    color: var(--mono-ui--color-500);
    background-color: var(--mono-ui--color-white);
  }
}

.mono-ui-button--outline {
  color: var(--mono-ui--color-500);
  background-color: var(--mono-ui--color-white);
  border: 1px solid var(--mono-ui--color-500);

  &:not(.mono-ui-button--disabled):hover {
    color: var(--mono-ui--color-white);
    background-color: var(--mono-ui--color-500);
  }
  &:not(.mono-ui-button--disabled):active {
    color: var(--mono-ui--color-500);
    background-color: var(--mono-ui--color-white);
    border: 1px solid var(--mono-ui--color-500);
  }
}

.mono-ui-button--flat {
  color: var(--mono-ui--color-500);
  background-color: var(--mono-ui--color-white);
  border: 1px solid var(--mono-ui--color-white);

  &:not(.mono-ui-button--disabled):hover {
    border-color: var(--mono-ui--color-200);
    background-color: var(--mono-ui--color-200);
  }
  &:not(.mono-ui-button--disabled):active {
    background-color: var(--mono-ui--color-white);
  }
}

.mono-ui-button--light {
  color: var(--mono-ui--color-500);
  background-color: var(--mono-ui--color-200);
  border: 1px solid var(--mono-ui--color-200);

  &:not(.mono-ui-button--disabled):hover {
    border-color: var(--mono-ui--color-300);
    background-color: var(--mono-ui--color-300);
  }
  &:not(.mono-ui-button--disabled):active {
    background-color: var(--mono-ui--color-white);
  }
}
