.mono-ui-textarea {
  font-family: inherit;
  border-radius: var(--mono-ui--radius-md);

  resize: vertical;
  border: 2px solid;
  padding: var(--mono-ui--spacing-xs) var(--mono-ui--spacing-sm);

  transition: border-color 100ms ease-in-out;

  &:not(.mono-ui-textarea--disabled, .mono-ui-textarea--readOnly) {
    border-color: var(--mono-ui--color-300);
  }
  &:not(.mono-ui-textarea--disabled, .mono-ui-textarea--readOnly):hover {
    border-color: var(--mono-ui--color-500);
  }
}

.mono-ui-textarea--disabled {
  cursor: not-allowed;
  border-color: var(--mono-ui--color-200);
}

.mono-ui-textarea--readOnly {
  border-color: var(--mono-ui--color-200);
  background-color: var(--mono-ui--color-100);
}
