.mono-ui-grid {
  --mono-ui-grid-columns: initial;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: var(--mono-ui-grid-columns);

  &.mono-ui-grid--gap-xs {
    gap: var(--mono-ui--spacing-xs);
  }
  &.mono-ui-grid--gap-sm {
    gap: var(--mono-ui--spacing-sm);
  }
  &.mono-ui-grid--gap-md {
    gap: var(--mono-ui--spacing-md);
  }
  &.mono-ui-grid--gap-lg {
    gap: var(--mono-ui--spacing-lg);
  }
  &.mono-ui-grid--gap-xl {
    gap: var(--mono-ui--spacing-lg);
  }
}

.mono-ui-grid__element {
  --mono-ui-grid-column-start: initial;
  --mono-ui-grid-column-end: initial;

  --mono-ui-grid-row-start: initial;
  --mono-ui-grid-row-end: initial;

  grid-column-start: var(--mono-ui-grid-column-start);
  grid-column-end: var(--mono-ui-grid-column-end);

  grid-row-start: var(--mono-ui-grid-row-start);
  grid-row-end: var(--mono-ui-grid-row-end);
}
