:root {
  /* Spacing */
  --mono-ui--spacing-xs: 0.25rem; /* 4px */
  --mono-ui--spacing-sm: 0.5rem; /* 8px */
  --mono-ui--spacing-md: 0.75rem; /* 12px */
  --mono-ui--spacing-lg: 1rem; /* 16px */
  --mono-ui--spacing-xl: 1.25rem; /* 20px */

  /* Font sizes */
  --mono-ui--font-size-small: 0.875rem; /* 14px */
  --mono-ui--font-size-base: 1rem; /* 16px */

  --mono-ui--font-size-h1: 2.5rem; /* 40px */
  --mono-ui--font-size-h2: 2rem; /* 32px */
  --mono-ui--font-size-h3: 1.5rem; /* 24px */
  --mono-ui--font-size-h4: 1.25rem; /* 20px */
  --mono-ui--font-size-h5: 1.125rem; /* 18px */

  /* Colors */
  /* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
  --mono-ui--color-white: #fff;

  --mono-ui--color-100: #f8f9fa;
  --mono-ui--color-200: #dee2e6;
  --mono-ui--color-300: #adb5bd;
  --mono-ui--color-400: #495057;
  --mono-ui--color-500: #212529;

  --mono-ui--color-black: #000;

  /* Border radius */
  --mono-ui--radius-sm: 8px;
  --mono-ui--radius-md: 16px;
  --mono-ui--radius-lg: 24px;
  --mono-ui--radius-rounded: 100px;
}
