.mono-ui-label {
  display: flex;
  flex-direction: column;

  line-height: 1.25;
  font-size: var(--mono-ui--font-size-base);
  font-weight: var(--mono-ui--font-weight-medium);

  &.mono-ui-label--disabled,
  &.mono-ui-label--disabled > span {
    color: var(--mono-ui--color-300);
  }
}

.mono-ui-typography {
  margin: 0;

  &:where(.mono-ui-typography--color-default) {
    color: var(--mono-ui--color-500);
  }
  &:where(.mono-ui-typography--color-light) {
    color: var(--mono-ui--color-400);
  }
  &:where(.mono-ui-typography--color-contrast) {
    color: var(--mono-ui--color-100);
  }

  &.mono-ui-typography--light {
    font-weight: var(--mono-ui--font-weight-light);
  }
  &.mono-ui-typography--regular {
    font-weight: var(--mono-ui--font-weight-regular);
  }
  &.mono-ui-typography--medium {
    font-weight: var(--mono-ui--font-weight-medium);
  }
  &.mono-ui-typography--bold {
    font-weight: var(--mono-ui--font-weight-bold);
  }
}

p.mono-ui-typography--sm,
span.mono-ui-typography--sm {
  font-size: var(--mono-ui--font-size-small);
}
p.mono-ui-typography--md,
span.mono-ui-typography--md {
  font-size: var(--mono-ui--font-size-base);
}

p.mono-ui-typography--lg,
span.mono-ui-typography--lg {
  font-size: var(--mono-ui--font-size-h5);
}

h6.mono-ui-typography {
  font-size: var(--mono-ui--font-size-base);
}

h1.mono-ui-typography {
  font-size: var(--mono-ui--font-size-h1);
}
h2.mono-ui-typography {
  font-size: var(--mono-ui--font-size-h2);
}
h3.mono-ui-typography {
  font-size: var(--mono-ui--font-size-h3);
}
h4.mono-ui-typography {
  font-size: var(--mono-ui--font-size-h4);
}
h5.mono-ui-typography {
  font-size: var(--mono-ui--font-size-h5);
}
