.mono-ui-chips-input {
  display: flex;
  flex-wrap: wrap;
  gap: var(--mono-ui--spacing-xs);

  &:not(.mono-ui-input--disabled) {
    cursor: text;
  }

  .mono-ui-chips {
    gap: var(--mono-ui--spacing-xs);
  }
}

.mono-ui-chips-input--focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.mono-ui-input--disabled .mono-ui-chips-input__input {
  cursor: not-allowed;
}

.mono-ui-chips-input__input {
  font-size: inherit;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;

  &:disabled {
    background-color: var(--mono-ui--color-white);
  }
}

.mono-ui-chips-input__selected-options {
  width: 100%;
}

.mono-ui-chips-input__selected-option {
  max-width: 100%;

  .mono-ui-chips-input__selected-option-label {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
