.mono-ui-horizontal {
  border: 0;
  margin-block: 0;

  height: 1px;
  width: 100%;

  background-color: var(--mono-ui--color-500);
}

.mono-ui-horizontal--small {
  margin-block: var(--mono-ui--spacing-sm);
}
.mono-ui-horizontal--medium {
  margin-block: var(--mono-ui--spacing-md) 0;
}
.mono-ui-horizontal--large {
  margin-block: var(--mono-ui--spacing-lg) 0;
}
