/******************/
/*     Colors     */
/******************/
.color-block__container {
  display: grid;
  align-items: center;
  grid-template-columns: 190px 64px;
}

.color-block {
  width: 64px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: var(--mono-ui--radius-sm);

  &.color-block--white {
    border-color: var(--mono-ui--color-500);
    background-color: var(--mono-ui--color-white);
  }
  &.color-block--black {
    border-color: var(--mono-ui--color-black);
    background-color: var(--mono-ui--color-black);
  }
  &.color-block--100 {
    border-color: var(--mono-ui--color-100);
    background-color: var(--mono-ui--color-100);
  }
  &.color-block--200 {
    border-color: var(--mono-ui--color-200);
    background-color: var(--mono-ui--color-200);
  }
  &.color-block--300 {
    border-color: var(--mono-ui--color-300);
    background-color: var(--mono-ui--color-300);
  }
  &.color-block--400 {
    border-color: var(--mono-ui--color-400);
    background-color: var(--mono-ui--color-400);
  }
  &.color-block--500 {
    border-color: var(--mono-ui--color-500);
    background-color: var(--mono-ui--color-500);
  }
}

/******************/
/*     Radius     */
/******************/
.radius-block__container {
  display: grid;
  align-items: center;
  gap: var(--mono-ui--spacing-lg);
  grid-template-columns: 1fr 60px 48px;
}

.radius-block {
  width: 48px;
  height: 48px;
  border: 3px solid var(--mono-ui--color-500);

  &.radius-block--sm {
    border-radius: var(--mono-ui--radius-sm);
  }
  &.radius-block--md {
    border-radius: var(--mono-ui--radius-md);
  }
  &.radius-block--lg {
    border-radius: var(--mono-ui--radius-lg);
  }
  &.radius-block--rounded {
    border-radius: var(--mono-ui--radius-rounded);
  }
}

/*******************/
/*     Spacing     */
/*******************/
.spacing-block__container {
  display: grid;
  gap: var(--mono-ui--spacing-lg);
  grid-template-columns: 1fr 60px 20px;
}

.spacing-block {
  background-color: var(--mono-ui--color-500);

  &.spacing-block--xs {
    width: var(--mono-ui--spacing-xs);
  }
  &.spacing-block--sm {
    width: var(--mono-ui--spacing-sm);
  }
  &.spacing-block--md {
    width: var(--mono-ui--spacing-md);
  }
  &.spacing-block--lg {
    width: var(--mono-ui--spacing-lg);
  }
  &.spacing-block--xl {
    width: var(--mono-ui--spacing-xl);
  }
}
