@keyframes mono-ui__tooltip-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mono-ui__tooltip__trigger {
  cursor: help;
}

.mono-ui__tooltip {
  position: fixed;
  pointer-events: none;

  display: flex;
  padding: 2px var(--mono-ui--spacing-sm);
  border-radius: var(--mono-ui--radius-sm);

  background-color: var(--mono-ui--color-500);

  animation: mono-ui__tooltip-fade-in 150ms ease-in forwards;
}

.mono-ui__tooltip__arrow {
  width: 0px;
  height: 0px;

  position: absolute;
  left: 50%;
  top: 100%;

  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
  border-top: solid 5px var(--mono-ui--color-500);

  transform: translateX(-50%);
}
