.mono-ui-toggle__container {
  display: flex;
  align-items: center;
  gap: var(--mono-ui--spacing-sm);
}

.mono-ui-toggle {
  position: relative;

  width: 42px;
  height: 22px;

  border-radius: var(--mono-ui--radius-rounded);

  transition: background-color 150ms ease;

  &:not(:has(input[type='checkbox']:checked)) {
    background-color: var(--mono-ui--color-200);

    & .mono-ui-toggle__thumb {
      transform: translateY(-50%) translateX(3px);
    }
  }

  &:has(input[type='checkbox']:checked) {
    background-color: var(--mono-ui--color-500);

    & .mono-ui-toggle__thumb {
      transform: translateY(-50%) translateX(23px);
    }
  }

  &:has(input[type='checkbox']:active) {
    border-color: var(--mono-ui--color-400);
  }
  &:has(input[type='checkbox']:active)::before {
    border-color: var(--mono-ui--color-400);
  }

  & > input[type='checkbox'] {
    width: 100%;
    height: 100%;
    position: absolute;

    margin: 0;
    opacity: 0;

    cursor: pointer;
  }
}

.mono-ui-toggle__thumb {
  top: 50%;
  position: absolute;
  pointer-events: none;

  width: 16px;
  height: 16px;

  border-radius: var(--mono-ui--radius-rounded);
  background-color: var(--mono-ui--color-white);

  transition: transform 150ms ease;
}

.mono-ui-toggle--disabled {
  & > input[type='checkbox'] {
    cursor: not-allowed;
  }

  & .mono-ui-toggle__thumb {
    background-color: var(--mono-ui--color-100);
  }
}
