.mono-ui-accordion {
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--mono-ui--color-200);

  transition: border-color 150ms ease-in-out;
}

.mono-ui-accordion__header {
  display: flex;
  align-items: center;
  gap: var(--mono-ui--spacing-sm);

  border: 0;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;

  width: 100%;
  padding: var(--mono-ui--spacing-sm) var(--mono-ui--spacing-sm);

  &:hover .mono-ui-accordion__header-icon {
    background-color: var(--mono-ui--color-200);
  }
}
.mono-ui-accordion__header-icon {
  width: 28px;
  height: 28px;
  padding: var(--mono-ui-spacing-xs);

  display: grid;
  place-content: center;

  border-radius: var(--mono-ui--radius-sm);
  transition: background-color 150ms ease-in-out;

  /* visually align */
  i {
    margin-top: 2px;
  }
}

.mono-ui-accordion__content {
  transition: opacity 150ms ease-in-out;

  &:not(.mono-ui-accordion__content--open) {
    opacity: 0;
    max-height: 0;

    visibility: hidden;
  }
}
.mono-ui-accordion__content--open {
  opacity: 1;
  max-height: 100%;

  padding: var(--mono-ui--spacing-sm);
}
